@model IEnumerable<RestoDDD.Application.Entities.Restaurant_DTO>

@{
    ViewBag.Title = "Index";
}

<h2>Restaurant Tunisie</h2>
@using (Html.BeginForm("Recherche", "Home", FormMethod.Get))
{
    <p>
        Recherche  @Html.TextBox("id")
        <input type="submit" value="Recherche" />
    </p>
}
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lieu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lieu)
            </td>
            <td>
                @Html.ActionLink("Voire le restaurant", "Restaurant", new { id = item.RestaurantId }) |
                @Html.ActionLink("Voir le Menu", "Menu", new { id = item.RestaurantId }) |
                @Html.ActionLink("Reserver", "Reserver", new { id = item.RestaurantId })
            </td>
        </tr>
    }

</table>
<!--
    <table class="table">
    <tr>
        <th>Liste Des restaurants </th>
        <th>Menus </th>
        <th>DEmande de reservation</th>
    </tr>

    /*
        foreach (var resto in Model.ListeDesRestos)
        {
            <tr>
                <td>
                    Html.ActionLink(resto.Nom, "Details", "Restaurant", new { id = resto.RestaurantId }, null)
                </td>
                <td>
                    Html.ActionLink("Menu", "Details", "Restaurant", new { id = resto.RestaurantId }, null)
                </td>
                <td>
                    Html.ActionLink("Demande de reservation", "Details", "Restaurant", new { id = resto.RestaurantId }, null)
                </td>
            </tr>
        }
    }

</table>
*/-->
