@model IEnumerable<RestoDDD.Application.Entities.Menu_DTO>

@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<div class="block-1">
</div>
<div class="block-2 pad-2">
    <div class="col-4">
        <h3 class="h3-line">Nouveau plat</h3>
        <p class="top-2"><span class="clr-1 it-bold">mp</span><br>Description</p>
        <div class="img-border pad-3"><img src="images/page3-img1.jpg" alt=""></div>
        <p class="border-1">Des S plat</p>
    </div>
    <div class="col-5 left-2">
        <h2 class="h2-line-3">Menu Actuel</h2>
        <div class="wrap">
            <ul class="list">
                <li><strong>Lorem ipsum</strong><span>$25.30</span><em>&nbsp;</em></li>
                <li><strong>Dolor sit amet</strong><span>$30.80</span><em>&nbsp;</em></li>
                <li><strong>Consectetur adipiscing</strong><span>$50.90</span><em>&nbsp;</em></li>
                <li><strong>Vivamus sed</strong><span>$75.50</span><em>&nbsp;</em></li>
                <li><strong>Vivamus hendrerit</strong><span>$120.60</span><em>&nbsp;</em></li>
                <li><strong>Mauris gravida</strong><span>$95.70</span><em>&nbsp;</em></li>
                <li><strong>Viverra lectus</strong><span>$45.74</span><em>&nbsp;</em></li>
                <li><strong>Cras mattis</strong><span>$37.45</span><em>&nbsp;</em></li>
                <li><strong>Maecenas faucibus</strong><span>$45.90</span><em>&nbsp;</em></li>
                <li><strong>Sagittis cursus</strong><span>$25.80</span><em>&nbsp;</em></li>
                <li><strong>Fusce tincidunt</strong><span>$90.37</span><em>&nbsp;</em></li>
                <li><strong>Tellus eget tristique</strong><span>$87.60</span><em>&nbsp;</em></li>
                <li><strong>Amet dictum</strong><span>$37.80</span><em>&nbsp;</em></li>
            </ul>
            <ul class="list last">
                <li><strong>Mauris gravida</strong><span>$95.90</span><em>&nbsp;</em></li>
                <li><strong>Viverra lectus</strong><span>$45.25</span><em>&nbsp;</em></li>
                <li><strong>Cras mattis</strong><span>$37.85</span><em>&nbsp;</em></li>
                <li><strong>Tempor eros</strong><span>$78.40</span><em>&nbsp;</em></li>
                <li><strong>Sed vehicula augue</strong><span>$56.78</span><em>&nbsp;</em></li>
            </ul>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MenuId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MenuId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
