@model RestoDDD.Application.Entities.Restaurant_DTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant_DTO</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotBienvenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotBienvenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slogon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slogon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.RestaurantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
